<div class="modal fade" id="registration_policy" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">Registration Policy</h1>
        <p class="space-above-med">General Registration ends on <%= @camp.registration_late_date.yesterday.to_s(:short_ordinal) %>. <b>Please note there is a <%= number_to_currency(@camp.registration_late_fee, precision: 0) %> Late Registration fee starting <%= @camp.registration_late_date.to_s(:short_ordinal) %>.</b> Registration closes on <%= @camp.registration_close_date.to_s(:short_ordinal) %>.</p>
        <p>If your child has a conflict due to other extra-curricular activities (graduation, recitals, etc.), you can pull him/her out of camp for the conflict. Simply note on our registration form when you are picking up and dropping off your child. Because we would love all campers the opportunity to join us at camp, they are welcome to leave early if need be. Unfortunately, the camp fee cannot be prorated.</p>

        <h3>Cancellation</h3>
        <p>Cancellations made before February 1st will receive a full refund. Cancellations made between February 1st and March 31st will receive a 50% refund. There will be no refunds for cancellations made on or after April 1st. However, for any cancellation that does not receive a full refund, the remaining amount may be applied to next year’s camp registration fee. To cancel your registration, please send an email with your name and your camper's name to  <%= mail_to "lyf@tacl.org", "lyf@tacl.org" %>.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="financial_aid" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">Discounts and Financial Aid</h1>
        <h3>Sibling Discount</h3>
        <p>
          For families with multiple campers, we will be granting an additional <%= number_to_currency(@camp.sibling_discount, precision: 0) %> discount per sibling. This amount will be deducted from the total camp fee. In order to receive this sibling discount, campers must be direct family, and registered at the same time. The sibling discount only applies to general registration and is not applicable to late registration.
        </p>

        <h3>Financial Aid</h3>
        <p>We do not want camp fees to prevent you from attending camp. Every year, we have options for families that may need financial assistance. Please email <%= mail_to "lyf@tacl.org", "lyf@tacl.org" %> to find out if you qualify.</p>

        <h3>Refer a Friend!</h3>
        <p>Campers who bring new friends to LYF Camp will receive a $30 discount from camp fees for each referral (there is no limit - if you refer 10 new campers, you will get a $300 discount!!). The campers being referred <b>must</b> write your camper's name into their registration form and must have not attended LYF Camp before. For example, if Anna Chen brings Charles to camp, then on Charles' registration form under the "How did you hear about us?" question, check the box "referred by a TACL-LYF Camper" and write Anna Chen's name. Please note that a sibling may not count as a referral. The sibling discount will be applied instead.</p>
        <p>On the last day of camp, we will verify the referrals and during closing ceremony we will refund $30 per verified referral credited directly back to your credit card. If you have any questions, please email <%= mail_to "lyf@tacl.org", "lyf@tacl.org" %>.</p>
      </div>
    </div>
  </div>
</div>
