<% provide(:title, 'Camper Information') %>
<div class="row">
  <div class="col-md-12">
    <h2>Camper Information</h2>
  </div>
</div>
<%= form_for @camper, url: wizard_path, method: :put do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row space-above-wide">
    <div class="col-md-4 form-group">
      <%= f.label :first_name, "Camper First Name" %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="col-md-4 form-group">
      <%= f.label :last_name, "Camper Last Name" %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-4 form-group">
      <%= f.label :email, "Camper Email (Optional)" %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-4 form-group">
      <%= f.label :birthdate, 'Camper Date of Birth' %>
      <div class="row">
        <div class="col-md-12 date-fields-wrapper">
          <%= f.select :birth_month, Camper::MONTHS_FOR_SELECT,{}, { class: 'date form-control' } %>
          <%= f.select :birth_day, Camper::DATES_FOR_SELECT, {}, { class: 'form-control' } %>
          <%= f.select :birth_year, Camper::CAMPER_BIRTH_YEARS_FOR_SELECT, {}, { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= f.label :gender, "Camper Gender", class: 'show' %>
      <%= collection_radio_buttons(:camper, :gender, Camper.genders, :first, :first) do |b| %>
        <%= b.label(class: 'radio-inline') { b.radio_button + b.text.titlecase } %>
      <% end %>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-12 form-group">
      <%= f.label :returning, "Has this camper attended LYF Camp before?", class: 'show' %>
      <%= f.label "returning_true", class: 'radio-inline' do %>
        <%= f.radio_button :returning, true %> Yes
      <% end %>
      <%= f.label "returning_false", class: 'radio-inline' do %>
        <%= f.radio_button :returning, false %> No
      <% end %>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-12 form-group">
      <%= f.label :medical_conditions_and_medication, "Medical Conditions and Medication", class: 'space-below-none' %>
      <p class="help-block">
        List any pre-existing medical conditions, such as asthma, learning disabilities, non-food allergies (bee stings), etc that your child may have. If your child takes any regular medication, please provide medication name, dosage and frequency instructions, along with contraindications. If none, please write "N/A"
      </p>
      <%= f.text_area(:medical_conditions_and_medication, rows: 6, class: 'form-control') %>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-12 form-group">
      <%= f.label :diet_and_food_allergies, "Diet Considerations and Food Allergies", class: 'space-below-none' %>
      <p class="help-block">
        Please indicate any special dietary restrictions and or food allergies your child may have (please indicate the severity as well). Example: No eggs or dairy. Partial/full allergies: nuts, seafood, etc. If none, please write "N/A"
      </p>
      <%= f.text_area(:diet_and_food_allergies, rows: 6, class: 'form-control') %>
    </div>
  </div>
  <div class="row space-above-chasm">
    <div class="col-md-2">
      <%= link_to "Back", @new_sibling ? wizard_path(:siblings) : previous_wizard_path, class: "btn btn-white btn-block" %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Continue", disabled: Time.zone.today > @camp.registration_close_date, class: "btn btn-block" %>
    </div>
  </div>
<% end %>
