<% provide(:title, 'Registration Details') %>
<div class="row">
  <div class="col-md-12">
    <h2>Registration Details</h2>
  </div>
</div>
<%= form_for @reg, url: wizard_path, method: :put do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row space-above-wide">
    <div class="col-md-4 form-group">
      <%= f.label :grade, "Camper's Current Grade" %>
      <div class="row">
        <div class="col-md-4">
          <%= f.select(:grade, (5..12).collect {|g| [g.ordinalize, g]}, {include_blank: true}, {class: "form-control"}) %>
        </div>
      </div>
      <p class="help-block">Please enter the grade that your child will <b>complete</b> in Spring <%= @camp.year %>.</p>
    </div>
    <div class="col-md-4 form-group">
      <%= f.label :grade_entering, "Camper's Grade Next Year" %>
      <div class="row">
        <div class="col-md-4">
          <%= f.select(:grade_entering, (6..12).collect {|g| [g.ordinalize, g]}.push(["Graduated", 13]), {include_blank: true}, {class: "form-control"}) %>
        </div>
      </div>
      <p class="help-block">Please enter your child's grade for the <%= @camp.year %>-<%= @camp.year+1 %> school year.</p>
    </div>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-8 form-group">
      <%= f.label :shirt_size, "T-shirt Size" %>
      <div class="row">
        <div class="col-md-4">
          <%= f.select "shirt_size", @shirt_sizes.map {|s| [s.to_s.titlecase.gsub(/^(.+?)\s/){|x| x.upcase}, s]}, {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
      <p class="help-block">One t-shirt is included in the camp fee. <b>All sizes are Adult Unisex sizes.</b><br />Please refer to the size chart <%= link_to 'here', "https://www.bellacanvas.com/bella/images/UNISEX_XS-2XL.jpg", target: '_blank' %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Additional Shirts</h4>
      <p class="help-block">If you would like to purchase extra shirts, please enter the quantities for each size below. <b>Additional shirts are $15 each.</b></p>
    </div>
  </div>
  <div class="row">
    <% @shirt_sizes.each do |size| %>
      <div class="col-md-2">
        <%= f.label size, size.to_s.titlecase.gsub(/^(.+?)\s/){|x| x.upcase} %>
        <%= f.number_field size, min: 0, class: "form-control" %>
      </div>
    <% end %>
  </div>
  <div class="row space-above-wide">
    <div class="col-md-12">
      <h2>Transportation</h2>
      <p class="space-above-narrow">Due to the close proximity of Camp Arroyo, we will <b>NOT</b> be providing bus transportation to and from the campsite this year.</p>
    </div>
  </div>
  <div class="row space-above-chasm">
    <div class="col-md-2">
      <%= link_to "Back", previous_wizard_path, class: "btn btn-white btn-block" %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Continue", class: "btn btn-block" %>
    </div>
  </div>
<% end %>
