<% provide(:title, 'Add A Donation') %>
<div class="row">
  <div class="col-md-12">
    <h2>Add A Donation</h2>
  </div>
</div>
<%= form_for @payment, url: wizard_path, method: :put do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row space-above-wide">
    <div class="col-md-12">
      <p>LYF Camp is dedicated to raising the next generation of community leaders.  We've been able to make positive, life-changing impacts on hundreds of youth, but that's not enough. We're constantly improving our programming, and we're extremely excited for what's in store this year and in the future.</p>
      <p>LYF is 100% volunteer run - none of us are paid, and we rely on donations from the community to stay afloat. If you would like to help support LYF, please select a donation amount below. This amount will be added to the registration fees at the end of this form.</p>
      <p class="space-above-wide"><b>I would like to make a donation. I understand that your organization is non-profit and that my contribution is tax deductible.</b></p>

        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 25, checked: @payment.additional_donation == 25 %> $25
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 50, checked: @payment.additional_donation==50 %> $50
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 100, checked: @payment.additional_donation==100 %> $100
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 200, checked: @payment.additional_donation==200 %> $200
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 500, checked: @payment.additional_donation==500 %> $500
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, 1000, checked: @payment.additional_donation==1000 %> $1,000
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :additional_donation do %>
            <%= f.radio_button :additional_donation, "other", checked: ![nil,25,50,100,200,500,1000].include?(@payment.additional_donation) %> Other: $
            <%= f.number_field :donation_amount, min: 0, class: "auto-width form-control" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row space-above-chasm">
    <div class="col-md-2">
      <%= link_to "Back", previous_wizard_path, class: "btn btn-white btn-block" %>
    </div>
      <div class="col-md-2">
        <%= f.submit "Continue", class: "btn btn-block" %>
      </div>
    </div>
<% end %>
