<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to image_tag("logo.png", size: "136", alt: "TACL-LYF Logo"), "https://lyf.tacl.org", target: "_blank" %>
    <h1>Register for LYF Camp <%= @camp.year %>!</h1>
    <p class="space-above-chasm">
      <%= @camp.camp_start_date.strftime("%B %-d, %Y") %> - <%= @camp.camp_end_date.strftime("%B %-d, %Y") %><br>
      <%= @camp.campsite %><br>
      <%= @camp.campsite_address %><br>
      <%= link_to "Registration Policy", "#registration_policy", "data-toggle" => "modal" %> | <%= link_to "Discounts & Financial Aid", "#financial_aid", "data-toggle" => "modal" %>
    </p>
    <!-- <% unless @camp.is_late_registration? %>
      <p class="vag space-above-chasm">
        <%= number_to_currency(@camp.registration_fee, precision: 0) %><br>
        General Registration<br>
        (<%= @camp.registration_open_date.strftime("%b %-d, %Y") %> - <%= @camp.registration_late_date.yesterday.strftime("%b %-d, %Y") %>)
      </p>
    <% end %>
    <p class="vag space-above-med">
      <%= number_to_currency(@camp.registration_fee + @camp.registration_late_fee, precision: 0) %><br>
      Late Registration<br>
      (<%= @camp.registration_late_date.strftime("%b %-d") %> - <%= @camp.registration_close_date.strftime("%b %-d, %Y") %>)
    </p> -->
    <p class="vag space-above-chasm">
      <%= number_to_currency(@camp.registration_fee, precision: 0) %><br>
      General Registration<br>
      (<%= @camp.registration_open_date.strftime("%b %-d, %Y") %> - <%= @camp.registration_close_date.strftime("%b %-d, %Y") %>)
    </p>
    <% if !@camp.is_waitlist_period? %>
      <p class="vag space-above-med">
        Waitlist begins <%= @camp.registration_close_date.tomorrow.strftime("%b %-d, %Y") %>
      </p>
    <% end %>
    <p class="space-above-med">
      <% if @camp.is_waitlist_period? %>
        <% if @camp.is_registration_closed? %><b>General registration for LYF Camp <%= @camp.year %> is currently closed</b>; however, you can still register to be on our waitlist.<% else %><span class="vag redmagenta">We have reached our maximum capacity for camp this year.</span><br>You may still submit your registration, but you will be placed on the waitlist.<br><% end %> If space becomes available for your camper, we will contact you. If not, we will issue a refund of your registration fee.
      <% else %>
        LYF Camp has a limited number of spots, so be sure to register early!<br>You'll be placed on a waitlist once maximum capacity is reached.
      <% end %>
    </p>
    <p class="space-above-massive">
      <%= link_to "Get Started", wizard_path(:parent), class: "btn btn-big btn-lg btn-redmagenta" %>
    </p>
  </div>
</div>
