<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to image_tag("logo.png", size: "136", alt: "TACL-LYF Logo"), "https://lyf.tacl.org", target: "_blank" %>
    <h1>Register for LYF Camp <%= @camp.year %>!</h1>
    <p class="space-above-chasm">
      June 19th 2017 - June 24th, 2017<br>
      Walker Creek Ranch<br>
      1700 Marshall Petaluma Rd, Petaluma, CA 94952<br>
      <%= link_to "Registration Policy", "#registration_policy", "data-toggle" => "modal" %> | <%= link_to "Discounts & Financial Aid", "#financial_aid", "data-toggle" => "modal" %>
    </p>
    <p class="vag space-above-chasm">
      <%= number_to_currency(@camp.registration_fee, precision: 0) %><br>
      General Registration<% if Time.zone.today >= @camp.registration_late_date %> &mdash; CLOSED<% end %><br>
      (<%= @camp.registration_open_date.strftime("%b %-d, %Y") %> &ndash; <%= @camp.registration_late_date.yesterday.strftime("%b %-d, %Y") %>)
    </p>
    <p class="vag space-above-med">
      <%= number_to_currency(@camp.registration_fee + @camp.registration_late_fee, precision: 0) %><br>
      Late Registration<br>
      (<%= @camp.registration_late_date.strftime("%b %-d") %> &ndash; <%= @camp.registration_close_date.strftime("%b %-d, %Y") %>)
    </p>
    <p class="vag space-above-med">
      Waitlist begins <%= @camp.registration_close_date.strftime("%b %-d, %Y") %>
    </p>
    <p class="space-above-med">
      LYF Camp has a limited number of spots, so be sure to register early!<br>You'll be placed on a waitlist once maximum capacity is reached.
    </p>
    <p class="space-above-massive">
      <%= link_to "Get Started", wizard_path(:parent), class: "btn btn-big btn-lg btn-redmagenta" %>
    </p>
  </div>
</div>
