<% provide(:title, 'Register a Sibling') %>
<div class="row">
  <div class="col-md-12">
    <h2>Register A Sibling</h2>
  </div>
</div>
<%= form_for :wizard, url: wizard_path, method: :put do |f| %>
  <div class="row space-above-wide">
    <div class="col-md-12">
      <p>Would you like to register a sibling? <% if Time.zone.today < @camp.registration_late_date %>If registered at the same time, a discount of <%= number_to_currency(@camp.sibling_discount, precision: 0) %> per sibling is automatically applied. <% end %>Please note that siblings MUST have the same parent contact information, and a sibling may not count as a referral.<% if Time.zone.today < @camp.registration_late_date %> The sibling discount will be applied instead.<% end %></p>
      <h5>You are currently registering the following camper(s):</h5>
      <ul>
        <% @regs.each do |r| %>
          <li>
            <%= r %>
          </li>
        <% end %>
      </ul>
      <p class="space-above-wide">What would you like to do?</p>
      <div class="radio">
        <%= f.label :sibling_new do %>
          <%= f.radio_button :sibling, "new" %> Add registration for a sibling
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :sibling_none do %>
          <%= f.radio_button :sibling, "none" %> Continue without registering any additional siblings
        <% end %>
      </div>
    </div>
  </div>
  <div class="row space-above-chasm">
    <div class="col-md-2">
      <%= f.submit "Continue", class: "btn btn-block" %>
    </div>
  </div>
<% end %>
