<% provide(:title, "Password Reset") %>
<div class="row">
  <div class="col-md-12 center">
    <h2>Password Reset</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <%= f.submit "Send me reset password instructions", class: 'btn btn-block btn-primary' %>
    <% end %>
    <p class="center">
      <%= render "devise/shared/links" %>
    </p>
  </div>
</div>
