<%= form_for @donation, validate: true, html: {id: "donation_form"} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="row">
  <div class="col-md-12">
    <h2>Choose Your Donation Amount</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <div class="btn-group donation_amounts" data-toggle="buttons">
      <%= f.label :amount, class: "btn btn-default" do %>
        <%= f.radio_button :amount, 50, checked: @donation.amount==50 %>$50
      <% end %>
      <%= f.label :amount, class: 'btn btn-default' do %>
        <%= f.radio_button :amount, 200, checked: @donation.amount==200 %>$200
      <% end %>
      <%= f.label :amount, class: 'btn btn-default' do %>
        <%= f.radio_button :amount, 500, checked: @donation.amount==500 %>$500
      <% end %>
      <%= f.label :amount, class: 'btn btn-default' do %>
        <%= f.radio_button :amount, 1000, checked: @donation.amount==1000 %>$1000
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <%= f.label :amount, class: 'radio-inline' do %>
      <%= f.radio_button :amount, [50, 200, 500, 1000].include?(@donation.amount) ? nil : @donation.amount, checked: ![nil, 50, 200, 500, 1000].include?(@donation.amount), id: "other_option" %> Other: $
      <%= f.number_field :other_amount, min: 0, class: "auto-width form-control", id: "other_amount" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Enter Your Information</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.label :phone, 'Phone (optional)' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Complete Your Donation</h2>
  </div>
</div>
<div class="row space-above-wide">
  <div class="col-md-6 form-group">
    <%= label_tag :card_number, "Credit/Debit Card Number " %>
    <%= text_field_tag :card_number, nil, name: nil, class: "form-control", "data-stripe" => "number" %>
  </div>
  <div class="col-md-3 form-group">
    <%= label_tag :card_exp_month, "Card Expiration" %>
    <div class="row">
      <div class="col-md-12 date-fields-wrapper">
        <%= select_month nil, {use_two_digit_numbers: true, prompt: "MM"}, {name: nil, id: "card_exp_month", class: "date form-control", "data-stripe" => "exp_month"} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15, prompt: "YYYY"}, {name: nil, id: "card_exp_year", class: "date form-control", "data-stripe" => "exp_year"} %>
      </div>
    </div>
  </div>
  <div class="col-md-3 form-group">
    <%= label_tag :card_verificaion, "CVC" %>
    <%= text_field_tag :card_verificaion, nil, name: nil, class: "form-control", "data-stripe" => "cvc" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <%= f.label :address, 'Billing Address' %>
    <%= f.text_field :address, class: 'form-control', "data-stripe" => "address_line1" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control', "data-stripe" => "address_city" %>
  </div>
  <div class="col-md-3 form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control', "data-stripe" => "address_state" %>
  </div>
  <div class="col-md-3 form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control', "data-stripe" => "address_zip" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <%= f.label :company_match, class: 'checkbox-inline' do %>
      <%= f.check_box :company_match, {id: "company_match"}, true, false %> My company will match my donation. Company name:
      <%= f.text_field :company, id: "company", class: 'form-control auto-width' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 stripe_error">
    <%= f.hidden_field :stripe_token %>
     <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.submit "Submit Donation", class: "btn btn-block btn-success" %>
  </div>
</div>
<% end %>
