<% provide(:title, 'LYF Camp Registration 2017 | Donate to LYF') %>
<div class="row">
  <div class="col-md-12">
    <h1>LYF Camp 2017 Registration <small>Thank you for your support!</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>LYF Camp has been dedicated to raising up the next generation to be community leaders. In just four short years we have doubled the amount of workshops, tripled our number of clinics, and grown from 65 to 140 campers, all while extending our camp by two days. Thanks to your support, we are able to say that each new year is the biggest in LYF Camp history. But we’re not done growing yet! We are extremely excited for what’s in store for this year, and what we have planned for the future.</p>
    <p>Please select donation amount below.</p>
    <p><b>I would like to make a donation. I understand that your organization is non-profit and that my contribution is tax deductible.</b></p>
    <%= form_for :wizard, url: wizard_path, method: :put do |f| %>
      <div class="radio">
        <%= f.label :donation_25 do %>
          <%= f.radio_button :donation, 25 %> $25
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_50 do %>
          <%= f.radio_button :donation, 50 %> $50
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_100 do %>
          <%= f.radio_button :donation, 100 %> $100
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_200 do %>
          <%= f.radio_button :donation, 200 %> $200
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_500 do %>
          <%= f.radio_button :donation, 500 %> $500
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_1000 do %>
          <%= f.radio_button :donation, 1000 %> $1,000
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :donation_other do %>
          <%= f.radio_button :donation, "other" %> Other: $
          <%= f.number_field :amount, class: "auto-width form-control" %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <%= f.submit "Continue", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
