<h1 style="text-align: center;">LYF Camp <%= @camp.year %> Registration Payment Confirmation</h1>

<p>
  Thank you for registering for LYF Camp <%= @camp.year %>! We have received your payment for the following <%= "camper".pluralize(@registrations.count) %>:
</p>

<table cellpadding="5" cellspacing="0" style="width: 100%; text-align: left; border: none; margin-top: 1.5rem;">
  <% @breakdown["campers"].each do |camper| %>
    <tr>
      <th colspan=2 style="border-top: 1px solid #ccc;">
        Camper Registration - <%= camper["name"] %>
      </th>
      <th style="text-align: right; border-top: 1px solid #ccc;">
        <%= number_to_currency @breakdown["registration_fee"] %>
      </th>
    </tr>
    <% if @breakdown.key?("discount") %>
    <tr>
      <td colspan=2 style="padding-left: 20px;">
        <%= @breakdown["discount"]["description"] %>
      </td>
      <td style="text-align: right;">
        - <%= number_to_currency @breakdown["discount"]["amount"] %>
      </td>
    </tr>
    <% elsif camper.key?("sibling_discount") %>
    <tr>
      <td colspan=2 style="padding-left: 20px;">
        Sibling Discount
      </td>
      <td style="text-align: right;">
        - <%= number_to_currency camper["sibling_discount"] %>
      </td>
    </tr>
    <% end %>
    <% if camper["extra_shirts_total"].to_i > 0 %>
    <tr>
      <td colspan=2 style="padding-left: 20px;">
        <%= "Extra Shirts (#{number_to_currency @breakdown["shirt_price"]} each) - #{camper["extra_shirts"]}" %>
      </td>
      <td style="text-align: right;">
        <%= number_to_currency camper["extra_shirts_total"] %>
      </td>
    </tr>
    <% end %>
  <% end %>
  <% if @breakdown["additional_donation"] %>
    <tr>
      <th colspan=2 style="border-top: 1px solid #ccc;">
        Additional Donation
      </th>
      <th style="text-align: right; border-top: 1px solid #ccc;">
        <%= number_to_currency @breakdown["additional_donation"] %>
      </th>
    </tr>
  <% end %>
  <tr>
    <th colspan="2" style="text-align: right; border-top: 1px solid #ccc;">
      Total:
    </th>
    <th style="text-align: right; border-top: 1px solid #ccc;">
      <%= number_to_currency @breakdown["total"] %>
    </th>
  </tr>
</table>

<p style="margin-top: 1.5rem;">
  We are requiring all campers to be vaccinated for this year's camp. Please email photo proof of each camper's vaccination status to <b>lyf@tacl.org</b> by <b>Saturday, July 24th</b>.
</p>

<p>We look forward to seeing you at camp!</p>

<hr style="border: none; height: 1px; background-color: #ccc; margin-top: 1.5rem;">

<p><small>
  <u>Registration Cancellation Policy</u>: In this time of uncertainty, we want parents to feel flexible and comfortable with their decision to send kids to camp. This year, we will have a no-worry cancellation policy. Cancellations can be made up until camp. If you have already paid for registration and would like to cancel, we will apply 2021 registration fees to 2022 camp by default, and will issue refunds upon request. To cancel your registration, please send an email with your name and your camper's name to <b>lyf@tacl.org</b>.
</small></p>
