<%= form_for @reg_payment, url: {action: :update}, validate: true, html: {id: "registration_payment_form"} do |f| %>
  <div class="row space-above-chasm">
    <div class="col-mod-12">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <p>Thank you for pre-registering for LYF Camp 2020!<% unless @reg_payment.paid %> At Closing Ceremony, you informed us that you wanted to pre-register the following <%= "camper".pluralize(@reg_payment.registrations.count) %>.<% unless @reg_payment.additional_donation.blank? %> You also pledged an additional donation of <b><%= number_to_currency @reg_payment.additional_donation %></b> - thank you so much for your continued support!<% end %><% end %> Here is a breakdown of your payment:</p>
  </div>
</div>
<div class="row space-above-med">
  <div class="col-md-12">
    <% unless @reg_payment.registrations.empty? %>
    <table class="table table-condensed">
      <% @reg_payment.registrations.each do |r| %>
        <tr>
          <th colspan=2>Preregistration - <%= r.camper.full_name %><% unless r.camper.registrations.count > 1 %> (New Camper)<% end %></th>
          <th class="text-right"><%= number_to_currency @reg_payment.breakdown["registration_fee"] %></th>
        </tr>
      <% end %>
      <% if @reg_payment.breakdown["additional_donation"] %>
        <tr>
          <th colspan=2>Additional Donation</th>
          <th class="text-right"><%= number_to_currency @reg_payment.breakdown["additional_donation"] %></th>
        </tr>
      <% end %>
      <tr>
        <th colspan=2 class="text-right">Total:</th>
        <th class="text-right"><%= number_to_currency @reg_payment.breakdown["total"] %></th>
      </tr>
    </table>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @reg_payment.paid %>
    <p>We have received your payment and sent a confirmation to <b><%= @reg_payment.registrations.first.camper.family.primary_parent_email %></b><% unless @reg_payment.registrations.first.camper.family.secondary_parent_email.blank? %> and CCed it to <b><%= @reg_payment.registrations.first.camper.family.secondary_parent_email %></b><% end %> (please check your spam folder or either of the Updates or Promotions tabs in Gmail). If you would like us to resend it, or you have any questions or concerns about your registration, please email us at <b>lyf@tacl.org</b>.
    </p>
    <% else %>
    <p>To confirm your pre-registration and secure your spot, please pay using the form below by <b>Sunday, July 28th</b>. If we do not receive your payment by then, you will still be able to register when General Registration opens at the end of the year, but you will no longer be eligible for the pre-registration rate.</p>
    <p>Once you have submitted the form, a confirmation email will be sent to <b><%= @reg_payment.registrations.first.camper.family.primary_parent_email%></b><% unless @reg_payment.registrations.first.camper.family.secondary_parent_email.blank? %> and CCed to <b><%= @reg_payment.registrations.first.camper.family.secondary_parent_email %></b><% end %>.</p>
    <p>If you have any questions or concerns, please email us at <b>lyf@tacl.org</b>.</p>
    <% end %>
  </div>
</div>
<% unless @reg_payment.paid %>
<div class="row">
  <div class="col-md-12">
    <h2>Payment Details</h2>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <label for="card-element">Credit or debit card</label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display Element errors. -->
      <div id="card-errors" role="alert" class="space-above-narrow text-danger"></div>
    </div>
  </div>
  <div class="row space-above-narrow">
    <div class="col-md-12">
      <%= f.submit "Submit", class: "btn btn-block btn-success" %>
    </div>
  </div>
<% end %>
<% end %>
<div class="row space-above-massive">
  <div class="col-md-12">
    <p><small><u>Registration Cancellation Policy</u>: Cancellations made before February 1st, 2020 will receive a full refund. Cancellations made from February 1st &ndash; March 31st, 2020 will receive a 50% refund. There will be no refunds for cancellations made on or after April 1st, 2020. However, for any cancellation that does not receive a full refund, the remaining amount may be applied to next year's camp registration fee. To cancel your registration, please send an email with your name and your camper's name to <b>lyf@tacl.org</b>.</small></p>
  </div>
</div>
