<!DOCTYPE html>
<html>
  <head>
    <title><%= reg_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'register', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v1/', 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "Stripe.setPublishableKey(\'#{STRIPE_PUBLIC_KEY}\');" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="container left <%= @current_step %>">
      <div class="row">
        <%= render 'outline' %>
        <div class="col-md-9 col-md-offset-3">
          <% flash.each do |message_type, message| %>
            <% unless message_type == 'form_has_errors' %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render 'registration_policy' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
